include README.md
include LICENSE
include CONTRIBUTING.md
include MANIFEST.in
include pyproject.toml
include build.sh
recursive-include emd *.py
recursive-include emd/cuda *.cpp *.cu *.h
recursive-include tests *.py